/* Android */

position: relative;
width: 360px;
height: 640px;

background: #FFFFFF;


/* Городской портал11 */

position: absolute;
width: 360px;
height: 640px;
left: 0px;
top: 0px;

background: url(Городской портал11.png);


/* Frame */

position: absolute;
width: 65px;
height: 60px;
left: 295px;
top: 0px;

background: #FFFFFF;
opacity: 0;


/* Frame 2 */

position: absolute;
width: 52px;
height: 39px;
left: 0px;
top: 10px;


/* Android */

position: relative;
width: 360px;
height: 640px;

background: #FFFFFF;


/* Городской портал4 */

position: absolute;
width: 360px;
height: 640px;
left: 0px;
top: 0px;

background: url(Городской портал4.png);

/* Android */

position: relative;
width: 360px;
height: 640px;

background: #FFFFFF;


/* Городской портал8 */

position: absolute;
width: 360px;
height: 640px;
left: 0px;
top: 0px;

background: url(Городской портал8.png);

/* Android */

position: relative;
width: 360px;
height: 640px;

background: #FFFFFF;


/* Городской портал3 */

position: absolute;
width: 360px;
height: 640px;
left: 0px;
top: 0px;

background: url(Городской портал3.png);


/* Frame */

position: absolute;
width: 73px;
height: 66px;
left: 273px;
top: 14px;



/* Frame 2 */

position: absolute;
width: 43px;
height: 32px;
left: 0px;
top: 15px;



/* Frame 3 */

position: absolute;
width: 321px;
height: 48px;
left: 20px;
top: 564px;

/* Android */

position: relative;
width: 360px;
height: 640px;

background: #FFFFFF;


/* Городской портал6 */

position: absolute;
width: 360px;
height: 640px;
left: 0px;
top: 0px;

background: url(Городской портал6.png);


/* Frame */

position: absolute;
width: 35px;
height: 48px;
left: 0px;
top: 0px;

background: #FFFFFF;
opacity: 0;

/* Android */

position: relative;
width: 360px;
height: 640px;

background: #FFFFFF;


/* Городской портал1 */

position: absolute;
width: 360px;
height: 654px;
left: 0px;
top: 0px;

background: url(Городской портал1.png);


/* Frame */

position: absolute;
width: 119px;
height: 31px;
left: 88px;
top: 252px;

/* Android */

position: relative;
width: 360px;
height: 640px;

background: #FFFFFF;


/* Городской портал10 */

position: absolute;
width: 360px;
height: 640px;
left: 0px;
top: 0px;

background: url(Городской портал10.png);


/* Frame */

position: absolute;
width: 49px;
height: 66px;
left: 0px;
top: 0px;



/* Frame 2 */

position: absolute;
width: 98px;
height: 78px;
left: 251px;
top: 0px;

/* Android */

position: relative;
width: 360px;
height: 640px;

background: #FFFFFF;


/* Городской портал7 */

position: absolute;
width: 360px;
height: 641px;
left: 0px;
top: -1px;

background: url(Городской портал7.png);


/* Frame */

position: absolute;
width: 220px;
height: 72px;
left: 71px;
top: 370px;



/* Frame 2 */

position: absolute;
width: 221px;
height: 74px;
left: 70px;
top: 458px;



/* Frame 3 */

position: absolute;
width: 127px;
height: 52px;
left: 117px;
top: 261px;

/* Android */

position: relative;
width: 360px;
height: 640px;

background: #FFFFFF;


/* Городской портал1 */

position: absolute;
width: 360px;
height: 640px;
left: 0px;
top: 0px;

background: url(Городской портал1.png);


/* Обр Забор */

position: absolute;
width: 312px;
height: 168px;
left: 23px;
top: 298px;



/* Обр Дорога */

position: absolute;
width: 311px;
height: 155px;
left: 24px;
top: 485px;



/* Написать обращение */

position: absolute;
width: 37px;
height: 39px;
left: 317px;
top: 13px;



/* Бонусный магазин */

position: absolute;
width: 96px;
height: 39px;
left: 165px;
top: 148px;



/* Frame */

position: absolute;
width: 49px;
height: 37px;
left: 7px;
top: 250px;





